


<div class='question-container'>
  <% @questions.each do |question| %>

    <article id="<%= question.id %>">

      <form id="vote-arrows" method="post" action='/votes' class="upvote-form inline">
        <input type="hidden" name="voteable_type" value="Question"/>
        <input type="hidden" name="voteable_id" value=<%= question.id %>/>
        <input type="hidden" name="value" value="1"/>
        <button type="submit" name="value" value="1" class="fa fa-sort-desc vote-button upvote-button"></button>
      </form>

      <span class="vote-count smallgrey"> <%= question.count_votes %></span>

      <form id="vote-arrows" method="post" action='/votes' class="downvote-form inline">
        <input type="hidden" name="voteable_type" value="Question"/>
        <input type="hidden" name="voteable_id" value=<%= question.id %>/>
        <input type="hidden" name="value" value="-1"/>
        <button type="submit" name="value" value="-1" class="fa fa-sort-asc vote-button downvote-button"></button>
      </form>


      <h2><a id='title' href='/questions/<%= question.id %>'><%= question.title %></a></h2>
      <h3 id='subtitle'><%= question.content %></h3>
      <p>
        <span class='smallgrey'><%=question.updated_at.strftime("%F")%></span>
        <span class='smallgrey'><%=question.author.username%></span>
         <%if user_logged_in? && question.author_id == session[:user_id]%>
        <a class="delete smallgrey" href='/questions/<%= question.id %>'></a>
         <%end %>
      </p>
    </article>

  <% end %>
</div>

<% if user_logged_in? %>
<form id="new_comment_form" class="form" method='post', action '/questions'>
  <input type='text' name='question[title]'placeholder="Title"/><br>
  <textarea rows='10' cols='70' name='question[content]' placeholder="Ask a question here."></textarea><br>
  <input type="submit" class="button" value="Submit Question" ></input>
</form>
  <% end %>

