  <div class='question-container'>


    <article id="<%= @question.id %>">

      <form id="vote-arrows" method="post" action='/votes' class="upvote-form inline">
        <input type="hidden" name="voteable_type" value="Question"/>
        <input type="hidden" name="voteable_id" value=<%= @question.id %>/>
        <input type="hidden" name="value" value="1"/>
        <button type="submit" name="value" value="1" class="fa fa-sort-desc vote-button upvote-button"></button>
      </form>

      <span class="vote-count smallgrey"> <%= @question.count_votes %></span>

      <form id="vote-arrows" method="post" action='/votes' class="downvote-form inline">
        <input type="hidden" name="voteable_type" value="Question"/>
        <input type="hidden" name="voteable_id" value=<%= @question.id %>/>
        <input type="hidden" name="value" value="-1"/>
        <button type="submit" name="value" value="-1" class="fa fa-sort-asc vote-button downvote-button"></button>
      </form>



      <p>
        <span class='smallgrey'><%=@question.updated_at.strftime("%F")%></span>
        <span class='smallgrey'><%=@question.author.username%></span>
         <%if user_logged_in? && @question.author_id == session[:user_id]%>
        <a class="delete smallgrey" href='/questions/<%= @question.id %>'></a>
         <%end %>
      </p>
    </article>
</div>
<h1>Question: <%=@question.title%></h1>
<h3>Author: <%=@question.author.username%></h3>
<p>Content: <%=@question.content%></p>


<%if user_logged_in? %>
  <% if @question.author_id == @user.id %>
    <button id="update_button">Update My Question</button>
    <form class="hidden" id="question" method="post" action="/questions/<%=@question.id%>">
    <input type="hidden" name="_method" value="PUT">
    <input id='question_title_box' type="text" name="title" value="<%=@question.title%>">
    <textarea id='question_content_box' rows="4" cols="50" name="content"><%=@question.content%></textarea>
    <input type="submit" value="Update">
    </form>
    <br>
    <br>
    <form id="delete_question" method="post" action='/questions/<%= @question.id %>'>
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete?">
    </form>
  <%end%>

    <!-- <form id="vote" method="post" action="/votes">
      <input type="hidden" name="voteable_type" value="Question">
      <input type="hidden" name="voteable_id" value="<%= @question.id %>">
      <button type="submit" name="value" value="1">Upvote</button>
      <button type="submit" name="value" value="-1">Downvote</button>
    </form> -->
<%end%>

<ul>
  <%@question.answers.each do |answer|%>
    <li><%= answer.content %></li>

    <div class='question-container'>

      <article id="<%= answer.id %>">

        <form id="vote-arrows" method="post" action='/votes' class="upvote-form inline">
          <input type="hidden" name="voteable_type" value="Answer"/>
          <input type="hidden" name="voteable_id" value=<%= answer.id %>/>
          <input type="hidden" name="value" value="1"/>
          <button type="submit" name="value" value="1" class="fa fa-sort-desc vote-button upvote-button"></button>
        </form>

        <span class="vote-count smallgrey"> <%= answer.count_votes %></span>

        <form id="vote-arrows" method="post" action='/votes' class="downvote-form inline">
          <input type="hidden" name="voteable_type" value="Answer"/>
          <input type="hidden" name="voteable_id" value=<%= answer.id %>/>
          <input type="hidden" name="value" value="-1"/>
          <button type="submit" name="value" value="-1" class="fa fa-sort-asc vote-button downvote-button"></button>
        </form>

      </article>

    </div>

    <%if user_logged_in? && answer.user_id == @user.id%>
      <button id="update_answer_button">Update My Answer</button>
      <form class="hidden" id="answer" method="post" action="/answers/<%=answer.id%>">
        <input type="hidden" name="_method" value="PUT">
        <input id='answer_title_box' type="text" name="content" value="<%=answer.content%>">
        <input type="submit" value="Update">
      </form>


      <form id="answer" method="post" action="/answers/<%=answer.id%>">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
      </form>
    <%end%>
  <%end%>
</ul>



<% if user_logged_in? && @user.id != @question.author_id %>
  <form id="answer" method="post" action="/answers">
    <input type="hidden" name="question_id" value="<%=@question.id%>"/>
    <textarea rows="4" cols="50" name="content" placeholder="Answer"></textarea>
    <input type="submit" value="Submit Answer">
  </form>
<%end%>

