<header>
  <h1>Swag Overflow</h1>
  <p>
  <% if user_logged_in? %>
      <a class='top_links' href="/logout">| Logout |</a>
      <a class='top_links' href="/questions/new">new |</a>
      <a class='top_links' href="#"> <%= User.find(session[:user_id]).username %> |</a>
      <a class='top_links' href="#">Home |</a>
  <% else %>
      <a class='top_links' href="/register">Register |</a>
      <a class='top_links' href="/login">Login |</a>
      <a class='top_links' href="#">Home |</a>
  <% end %>
  </p>
</header>


<div class='question-container'>
  <% @questions.each do |question| %>

    <article id="<%= question.id %>">
      <form method="post" action='/vote/questions/<%= question.id %>/<%= session[:user_id] %>' class="inline">
        <button type="submit" name="value" value="1" class="fa fa-sort-desc vote-button upvote-button"></button>
        <button type="submit" name="value" value="-1" class="fa fa-sort-asc vote-button downvote-button"></button>
        <p> <%= question.count_votes %> </p>
      </form>
      <h2><a href='/questions/<%= question.id %>'><%= question.title %></a></h2>
      <h3 id='subtitle'><%= question.content %></h3>
      <p>

         <%if user_logged_in? && question.author_id == session[:user_id]%>
        <a class="delete smallgrey" href='/questions/<%= question.id %>'></a>
         <%end %>
        <span class='smallgrey'><%=question.updated_at.strftime("%F")%></span>
        <span class='smallgrey'><%=question.author.username%></span>
      </p>
    </article>

  <% end %>
</div>

<% if user_logged_in? %>
<form id="new_comment_form" class="form" method='post', action '/questions'>
  <input type='text' name='question[title]'placeholder="Title"/><br>
  <textarea rows='10' cols='70' name='question[content]' placeholder="Ask a question here."></textarea><br>
  <input type="submit" class="button" value="Submit Question" ></input>
</form>
  <% end %>

