<header>
  <h1>Swag Overflow</h1>
  <p>
  <% if user_logged_in? %>
      <a class='top_links' href="/logout">| Logout |</a>
      <a class='top_links' href="/questions/new">new |</a>
      <a class='top_links' href="#"> <%= User.find(session[:user_id]).username %> |</a>
      <a class='top_links' href="#">Home |</a>
  <% else %>
      <a class='top_links' href="/register">Register |</a>
      <a class='top_links' href="/login">Login |</a>
      <a class='top_links' href="#">Home |</a>
  <% end %>
  </p>
</header>


<div class='question-container'>
  <% @questions.each do |question| %>

    <article id="<%= question.id %>">
      <form method="post" action='/vote/questions/<%= question.id %>/<%= @user.id %>' class="inline">
        <button type="submit" name="value" value="1" class="fa fa-sort-desc vote-button upvote-button"></button>
        <button type="submit" name="value" value="-1" class="fa fa-sort-asc vote-button downvote-button"></button>
        <p> <%= question.count_votes %> </p>
      </form>
        <h2><a href='/questions/<%= question.id %>'><%= question.title %></a></h2>
        <h3 id='subtitle'><%= question.content %></h3>
    </article>

  <% end %>
</div>



