
<h1>Question: <%=@question.title%></h1>
<h2>Votes: <%=@question.count_votes%></h2>
<h3>Author: <%=@question.author.username%></h3>
<p>Content: <%=@question.content%></p>



<%if user_logged_in? && @question.author_id == @user.id%>
      <form id="question" method="post" action="/question/<%=@question.id%>">
        <input type="hidden" name="_method" value="PUT">
        <input type="text" name="title" value="<%=@question.title%>">
        <textarea rows="4" cols="50" name="content"><%=@question.content%></textarea>
        <input type="submit" value="Update">
      </form>
      <form id="question" method="post" action="/question/<%=@question.id%>">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete?">
      </form>
<%elsif user_logged_in? %>
      <form id="vote" method="post" action="/vote/<% @question.id%>/<%=@user.id%>">
            <input type="submit" name="Upvote" value="Upvote">
            <input type="submit" name="Downvote" value="Downvote">
      </form>
<%end%>

  <ul>
      <%@answers.each do |answer|%>
        <li><%= answer.author%> <%= answer.content %> <%= answer.count_votes %></li>
        <%end%>
    </ul>



    <% if user_logged_in? && @user.id != @question.author_id %>
      <form id="answer" method="post" action="/answer/<%=@question.id%>">
        <textarea rows="4" cols="50" name="content" placeholder="Answer"></textarea>
        <input type="submit" value="Submit Answer">
      </form>

      <%end%>

